/* stylelint-disable selector-class-pattern */

.form__section {
  display: grid;
  gap: 24px;
  max-width: 400px;
  margin: auto;
  padding: 20px 24px;
  padding-bottom: 40px;
  border: 4px solid var(--bg-grey);
  border-radius: 12px;
  text-align: center;
}

.form__title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.form__content {
  display: grid;
  gap: 16px;
}

.form__label {
  margin-bottom: 4px;
}

.form__label-showpassword {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
}

.form__input-password {
  margin-bottom: 4px;
}

.form__message--success {
  color: var(--success);
}

.form__message--error {
  color: var(--error);
}
